.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
	background-image: url("/assets/images/wallpaper-large.jpeg");
	background-position: center center;
	background-size: cover;
}
